.App {
  text-align: center;
}

div.header div {
  display: inline-block;
  margin: 12px;
}
div.header {
  background-color: #f8f9fa !important;
  padding: 0;
}
div.header div a {
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  text-decoration: none;
  padding: 12px;
  display: inline-block;
}

div.header div a:hover {
  color: rgba(0, 0, 0, 0.7) !important;
}

div.header div.active {
  font-weight: bold !important;
  background-color: #0099ff !important;
  border-radius: 10px;
}

div.header div.active a {
  color: #fff !important;
}
.pad_top_30 {
  padding-top: 30px !important;
}
.pad_top_20 {
  padding-top: 20px !important;
}
.no_pad {
  padding: 0px !important;
}

.fontsize14 {
  font-size: 14px;
}
